* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {}

/* BLOCCO HEADER */
.container-header {
    width: 100%;
    background-color: rgb(250, 83, 16);
    position: fixed;
    z-index: 1;
}

.row-header {
    width: 1600px;
    margin: 0 auto;
    display: flex;
}

.row-header .col-33 {
    width: calc(100% / 3);
    padding-top: 1%;
}

.content-header {
    font-size: 30px;
}

.content-header.center {
    text-align: center;
}

.content-header.right {
    text-align: right;
}

/* PRIMA COLONNA HEADER*/
.content-header a {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}

/* SECONDA COLONNA HEADER */
.container-header img {
    width: 50%;
}

/* TERZA COLONNA HEADER */
.container-header i {
    color: white;
}

/* INIZIO MAIN */
.container-main {
    width: 1600px;
    margin: 0 auto;
}

.row-main {
    display: flex;
    flex-wrap: wrap;
}

.row-main .col-33 {
    width: calc(100% / 3);
}

.content {
    margin: 20px;
    position: relative;
}

.content img {
    width: 100%;
    height: 100%;
    position: relative;
}

.pt-140 {
    margin-top: 140px;
}

.visible-image {
    display: block;
}

.hidden-image {
    display: none;
}

.content:hover .visible-image {
    display: none;
}

.content:hover .hidden-image {
    display: block;
}

/* LABEL PERCENTUALE DI SCONTO E SOSTENIBILITA' */
.label {
    font-size: 20px;
    padding: 10px;
    color: white;
    position: absolute;
    left: 0;
    bottom: 120px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
    left: 70px;
}

.last-green {
    left: 0;
}

/* CLASSE DI GESTIONE DEL CUORE */
.heart {
    position: absolute;
    font-size: 60px;
    right: 0px;
    top: 20px;
    background-color: white;
    padding: 5px 15px;
}

.heart:hover {
    color: red;
    cursor: pointer;
}

/* INFORMAZIONI DEL PRODOTTO */
.info-price {
    font-size: 20px;
}

.old-price {
    text-decoration: line-through;
}

.price {
    color: red;
}

/* INIZIO FOOTER */
.container-footer {
    width: 100%;
    background-color: black;

}

.row-footer {
    width: 1600px;
    margin: 0 auto;
    display: flex;
    padding-top: 30px;
    display: flex;
}

.content-footer {
    font-size: 20px;
    padding-bottom: 10px;
}

.content-footer span {
    margin: 10px;
    color: white;
}

#boolando {
    font-size: 40px;
    margin-bottom: 300px;
}

.col-footer-50 {
    width: 50%;
    display: flex;
}

.content-footer-social {
    color: white;
    font-size: 25px;
}

.col-social {
    justify-content: right;
}

.content-footer-social a {
    margin-right: 10px;
}

.icons {
    margin-top: 10px;
    margin-bottom: 20px;
}